body{
 text-align: center;
 margin: 0;
 font-size: x-large;
 font-family: 'ABeeZee', sans-serif;
 background-color: rgb(207, 207, 207);
}
button{
    background-color: #aaaaaa;
    border: 1px;
    padding: 8px 14px 8px 14px;
    margin: 12px;
    font-size: large;
    
    
}
button:hover{
    cursor: pointer;
    background-color: #868585;
}


.dark-mode-button{
    position:  absolute;
    top: 20px;
    left: 10px;
    padding: 10px;
    
}

html.dark-mode{
    filter: invert(100%);
}
html.dark-mode button{
    filter: invert(100%);
}